#Ignored Folders
3rd\ Party
WK\ Rekrutacja
WK\ Newsletter
WK\ Alert
MD\ Varia
Snippets
WK\ Cold\ Mails
WK\ FIR
WK\ LEG
WK\ PUB
WK\ MSG

#Ingored Templates
Cold\ Mail\ Template.mjml
Newsletter\ Confirmation.mjml
vCard.mjml

#Ignored Includes
